<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<script src="~/Scripts/bootstrapValidator.js"></script>
<link rel="stylesheet" href="/Content/upimg/amazeui.min.css">
<link rel="stylesheet" href="/Content/upimg/amazeui.cropper.css">
<link rel="stylesheet" href="/Content/upimg/custom_up_img.css">
<style type="text/css">
    .up-img-cover {
        width: 100px;
        height: 100px;
    }

        .up-img-cover img {
            position: absolute;
            width: 200px;
            height: 200px;
            left: 0;
            top: 0;
        }

    .panel .actions {
        position: absolute;
        right: 30px;
        top: 8px;
    }

        .panel .actions i {
            font-size: 0.875em;
            margin: 0 3px;
        }

            .panel .actions i:hover {
                cursor: pointer;
            }
</style>
<style>
    .form-horizontal .form-control {
        background: #f0f0f0;
        border: none;
        box-shadow: none;
        padding: 0 10px 0 30px;
    }

    input[type="text"]:focus {
        background: #ffffff;
        border: 1px solid #cccccc;
    }

    .form-horizontal .form-group i {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 17px;
        color: #c8c8c8;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i {
        color: #00b4ef;
    }
</style>
<ol class="breadcrumb">
    <li>新生报名</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">学生信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">学生姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">性别</label>
                                    <div class="col-sm-4 controls">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios1" value="option1" checked>
                                            男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios2" value="option2">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">生日</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="txtName">住址</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">所在学校</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">年级班级</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">母亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">父亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">其他电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">备注</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="updateForm">
                        <div class="up-img-cover" id="up-img-touch">
                            <img class="am-circle" alt="点击图片上传" src="/Content/img/student.png" data-am-popover="{content: '点击上传', trigger: 'hover focus'}">
                        </div>
                        <div><a style="text-align: center; display: block;" id="pic"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">报名信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-mb-12 col-sm-12">
                        <div class="form-group">
                            <label for="selectCourseType" class="col-sm-2 control-label">课程类别</label>
                            <div class="col-sm-4">
                                <select id="selectCourseType" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectCourse" class="col-sm-2 control-label">课程名称</label>
                            <div class="col-sm-4">
                                <select id="selectCourse" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-mb-12 col-sm-12">
                        <div class="form-group">
                            <label for="selectClass" class="col-sm-2 control-label">选择班级</label>
                            <div class="col-sm-10">
                                <select id="selectClass" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        widgetToggle();
        getCourseType("selectCourseType");
        $("#selectCourseType").change(function () {
           var selectedCoursTypeId = $(this).val();
           getCourseList("selectCourse", selectedCoursTypeId);
        });
        $("#selectCourse").change(function () {
            var selectedCourseId = $(this).val();
            getClassByCourse(selectedCourseId,"selectClass");
        });
    });
</script>
