<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<script src="~/Scripts/bootstrapValidator.js"></script>
<link rel="stylesheet" href="/Content/upimg/amazeui.min.css">
<link rel="stylesheet" href="/Content/upimg/amazeui.cropper.css">
<link rel="stylesheet" href="/Content/upimg/custom_up_img.css">
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />


<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<style type="text/css">
    .up-img-cover {
        width: 100px;
        height: 100px;
    }

        .up-img-cover img {
            position: absolute;
            width: 200px;
            height: 200px;
            left: 0;
            top: 0;
        }

    .panel .actions {
        position: absolute;
        right: 30px;
        top: 8px;
    }

        .panel .actions i {
            font-size: 0.875em;
            margin: 0 3px;
        }

            .panel .actions i:hover {
                cursor: pointer;
            }

    .card {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        max-width: 280px;
        min-height: 36px;
    }

    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    .form-horizontal .form-control {
        background: #f0f0f0;
        border: none;
        box-shadow: none;
        padding: 0 10px 0 30px;
    }

    input[type="text"]:focus {
        background: #ffffff;
        border: 1px solid #cccccc;
    }

    .form-horizontal .form-group i {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 17px;
        color: #c8c8c8;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i {
        color: #00b4ef;
    }
</style>
<ol class="breadcrumb">
    <li>新生报名</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">学生信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" style="border-right:1px solid #ddd;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">学生姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">性别</label>
                                    <div class="col-sm-4 controls">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="maleOption" value="1" checked>
                                            男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="femaleOption" value="0">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="dpBirthday">生日</label>
                                    <div class="col-sm-4">
                                        <div class='input-group date' id='dpBirthday'>
                                            <input id="txtBirthday" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label" for="txtAddress">住址</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtAddress" name="txtAddress" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtFullTimeSchool">所在学校</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtFullTimeSchool" name="txtFullTimeSchool" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="txGrade">年级班级</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txGrade" name="txGrade" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtTel1">母亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtTel1" name="txtTel1" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="txtTel2">父亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtTel2" name="txtTel2" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtTel3">其他电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtTel3" name="txtTel3" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="txtStudentRemark">备注</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtStudentRemark" name="txtStudentRemark" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="updateForm">
                        <div class="up-img-cover" id="up-img-touch">
                            <img class="am-circle" alt="点击图片上传" src="/Content/img/student.png" data-am-popover="{content: '点击上传', trigger: 'hover focus'}">
                        </div>
                        <div><a style="text-align: center; display: block;" id="pic"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">报名信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" style="border-right:1px solid #ddd;">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectCourseType" class="col-sm-2 control-label">课程类别</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourseType" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectCourse" class="col-sm-2 control-label">课程名称</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourse" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectClass" class="col-sm-2 control-label">选择班级</label>
                                    <div class="col-sm-4 form-inline">
                                        <select id="selectClass" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2 form-inline" style="padding-left:5px;padding-right:5px;">
                                        <label class="glyphicon glyphicon-remove"></label>
                                        <input type="number" maxlength='3' style="width:60px;" class="form-control" id="txtClassCount" name="txtClassCount" value="10" onchange="calcTuition();" />
                                        <label class="control-label">课时</label>
                                    </div>
                                    <div class="col-sm-4 form-inline">
                                        <select style="width:80px;" id="selectDiscount" class="form-control">
                                            <option value="0">原价</option>
                                            <option value="1">打折</option>
                                            <option value="2">优惠</option>
                                        </select>
                                        <input type="text" style="width:60px;" class="form-control hidden" id="txtDiscount" value="0" onchange="calcTuition();" />
                                        <select style="width:80px;" id="selectDiscountValue" class="form-control hidden" onchange="calcTuition();">
                                            <option value="1"></option>
                                            <option value="0.99">99</option>
                                            <option value="0.98">98</option>
                                            <option value="0.96">96</option>
                                            <option value="0.95">95</option>
                                            <option value="0.90">90</option>
                                            <option value="0.85">85</option>
                                            <option value="0.80">80</option>
                                            <option value="0.75">75</option>
                                            <option value="0.70">70</option>
                                            <option value="0.60">60</option>
                                            <option value="0.50">50</option>
                                        </select>
                                        <label id="lblDiscountType" style="margin-left:5px;margin-right:5px;" class="control-label hidden">元</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">教材项</label>
                                    <div class="col-sm-4">
                                        <div id="bookcard" class="card">

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">杂费项</label>
                                    <div class="col-sm-4">
                                        <div id="othercard" class="card">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-2 form-inline">
                                        <input class='icheck' type='checkbox' name='check1' />
                                        <label class="control-label" for="txtRemark">截止时间</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' id='datepicker1'>
                                            <input id="txtDatepicker1" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="txtRemark">注：截止日期后，剩余课时将无法使用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtRemark">备注</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" style="max-width:none" id="txtRemark" name="txtRemark" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="spTuition">学费</label>
                                    <div class="col-sm-8">
                                        <span id="spTuition" style="font-size:medium" class="col-sm-6 badge badge-danger">¥ 0元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="spBookFee">教材费</label>
                                    <div class="col-sm-8">
                                        <span id="spBookFee" style="font-size:medium" class="col-sm-6 badge badge-danger">¥ 0元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="spOtherFee">杂费</label>
                                    <div class="col-sm-8">
                                        <span id="spOtherFee" style="font-size:medium" class="col-sm-6 badge badge-danger">¥ 0元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="txtResult">实收</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtResult" name="txtResult" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" style="width:150px; margin-top:10px;" class="btn btn-primary col-center-block" data-toggle="modal" data-target="#ObjModal" onclick="initModalForm();">
                                        去结算
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）是否确定删除 -->
    <div class="modal fade" id="ObjModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="updateModalLabel">报名确认</h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="addClassForm" role="form">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txStudentName" class="col-sm-3 control-label">学生姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txStudentName" name="txStudentName" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName1" class="col-sm-3 control-label">报名班级</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtClassName1" name="txtClassName1" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtShouldFee" class="col-sm-3 control-label">应收费用</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtShouldFee" name="txtShouldFee" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtRealFee" class="col-sm-3 control-label">实收费用</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtRealFee" name="txtRealFee" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectCampus" class="col-sm-3 control-label">经办校区</label>
                                    <div class="col-sm-9">
                                        <select id="selectCampus" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName1" class="col-sm-3 control-label">经办人</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtClassName1" name="txtClassName1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName1" class="col-sm-3 control-label">支付方式</label>
                                    <div class="col-sm-9">
                                        <select id="selectPayType" class="form-control">
                                            <option value="现金">现金</option>
                                            <option value="刷卡">刷卡</option>
                                            <option value="微信">微信</option>
                                            <option value="支付宝">支付宝</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="btnAddEntry">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script>
    $(document).ready(function () {
        widgetToggle();
        getCampus("selectCampus")
        getCourseType("selectCourseType");
        $("#selectCourseType").change(function () {
            $("#selectClass").empty();
            var selectedCoursTypeId = $(this).val();
            getCourseList("selectCourse", selectedCoursTypeId);
        });
        $('#datepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#dpBirthday').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
    });
    var tuition = 0;
    var bookfee = 0;
    var otherfee = 0;
    var sumfee = 0;
    var classcount = 0;
    var result = [];
    $("#selectCourse").change(function () {
        var selectedCourseId = $(this).val();
        getClassByCourse(selectedCourseId, "selectClass");
        //var bookfee = getBookFeeByCourse(selectedCourseId);
        var bookcard = document.getElementById("bookcard");
        var othercard = document.getElementById("othercard");
        bookcard.innerHTML = "";
        othercard.innerHTML = "";
        result = [];
        var model = { 'courseId': selectedCourseId };
        $.ajax({
            url: "../Bookfee/getBookFeeByCourse",
            type: "post",
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                result = JSON.parse(data);
                var content1 = "";
                var content2 = "";
                for (var i = 0; i < result.length; i++) {
                    result[i].objCount = 1;
                    result[i].usable = true;
                    if (result[i].feeType == 1)//教材
                    {
                        content1 += "<div class='row'>";
                        content1 += "<div class='form-group'>";
                        content1 += " <div class='col-mb-12 col-sm-12  form-inline'>";
                        content1 += "<div class='radio'>";
                        content1 += "<input class='icheck' type='checkbox' onchange='radioChange(this," + i + ")' checked='' name='check1'>";
                        content1 += "<label>" + result[i].feeName + "</label>";
                        content1 += "</div>";
                        content1 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtjcCount' name='txtjcCount' onchange='changePrice(this," + i + ")' value='" + result[i].price + "' />";
                        content1 += "<label class='glyphicon glyphicon-remove'></label>";
                        content1 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtzfCount' name='txtzfCount' onchange='changeCount(this," + i + ")' value='1' />";
                        content1 += "</div></div></div>";
                    }
                    else if (result[i].feeType == 2)//杂费
                    {
                        content2 += "<div class='row'>";
                        content2 += "<div class='form-group'>";
                        content2 += " <div class='col-mb-12 col-sm-12  form-inline'>";
                        content2 += "<div class='radio'>";
                        content2 += "<input class='icheck' type='checkbox' onchange='radioChange(this," + i + ")' checked=''  name='check1'>";
                        content2 += "<label>" + result[i].feeName + "</label>";
                        content2 += "</div>";
                        content2 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtjcCount' name='txtjcCount' onchange='changePrice(this," + i + ")' value='" + result[i].price + "' />";
                        content2 += "<label class='glyphicon glyphicon-remove'></label>";
                        content2 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtzfCount' name='txtzfCount'  onchange='changeCount(this," + i + ")'  value='1' />";
                        content2 += "</div></div></div>";
                    }
                }
                bookcard.innerHTML = content1;
                othercard.innerHTML = content2;
                calcBookFee(result);
            }
        });
    });
    $("#selectClass").change(function () {
        calcTuition();

    });
    $("#selectDiscount").change(function () {
        var desc = $(this).val();
        if (desc == '0') {
            $("#lblDiscountType").addClass("hidden");
            $("#txtDiscount").addClass("hidden");
            $("#selectDiscountValue").addClass("hidden");
        }
        else if (desc == '1') {
            $("#txtDiscount").addClass("hidden");
            $("#lblDiscountType").removeClass("hidden");
            $("#selectDiscountValue").removeClass("hidden");
            $("#lblDiscountType").text("折");

        }
        else if (desc == '2') {
            $("#selectDiscountValue").addClass("hidden");
            $("#lblDiscountType").removeClass("hidden");
            $("#txtDiscount").removeClass("hidden");
            $("#lblDiscountType").text("元");
        }
        calcTuition();
    });
    $("#btnAddEntry").click(function () {
        var regionId = $("#selectCampus").val();
        var sname = $("#txtName").val();
        var sex = $("input[name='sex']:checked").val();
        var birthday = $("#dpBirthday").data().date;

        var fulltimeschool = $("#txtFullTimeSchool").val();
        var grade = $("#txGrade").val();
        var address = $("#txtAddress").val();
        var tel1 = $("#txtTel1").val();
        var tel2 = $("#txtTel2").val();
        var tel3 = $("#txtTel3").val();
        var remark = $("#txtStudentRemark").val();

        var model = {
            'RegionId': regionId, 'Name': sname, 'Sex': sex, 'Birthday': birthday, 'FullTimeSchool': fulltimeschool, 'Grade': grade,
            'Tel1': tel1, 'Tel2': tel2, 'Tel3': tel3, 'Address': address, 'Remark': remark, 'Picture': ""
        };
        $.ajax({
            url: "../Student/AddStudent",
            type: "post",
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var addStuResult = JSON.parse(data);
                var courseId = $("#selectCourse").val();
                var classId = $("#selectClass").val();
                var classFullName = $("#selectClass").text();
                var endDate = $("#datepicker1").data().date;
                var classCount = $("#txtClassCount").val();
                var realPay = $("#txtResult").val();//实际支付
                var status = "";
                var remain = realPay - sumfee;
                if (sumfee == realPay) {
                    status = "正常"
                }
                else if (sumfee > realPay) {
                    status = "欠费"
                }
                else {
                    status = "余额"
                }
                var entryModel = {
                    'RegionId': regionId, 'StudentId': addStuResult.data, 'CourseId': courseId, 'ClassId': classId, 'FullName': classFullName, 'StartDate': "",
                    'EndDate': endDate, 'CourseHour': classCount, 'Status': status, 'Remain': remain
                };
                $.ajax({
                    url: "AddEntry",
                    type: "post",
                    data: JSON.stringify(entryModel),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        result = JSON.parse(data);

                    }
                });
            }
        });
    });
    function calcTuition() {
        var clsPrice = $("#selectClass").find("option:selected").attr("price");
        var claCount = $("#txtClassCount").val();
        var desc = $("#selectDiscount").val();
        if (desc == "0") {
            tuition = clsPrice * claCount;
        }
        else if (desc == "1") {
            var discount = $("#selectDiscountValue").val();
            tuition = clsPrice * claCount * discount;
        }
        else if (desc == "2") {
            var discount = $("#txtDiscount").val();
            tuition = clsPrice * claCount - discount;
        }
        $("#spTuition").text("¥" + tuition + "元");
        calcShouldPay();
    }
    function radioChange(obj, rusultIndex) {
        result[rusultIndex].usable = obj.checked;
        calcBookFee(result);
    }
    function changePrice(obj, rusultIndex) {
        result[rusultIndex].price = $(obj).val();
        calcBookFee(result);
    }
    function changeCount(obj, rusultIndex) {
        result[rusultIndex].objCount = $(obj).val();
        calcBookFee(result);
    }
    function calcBookFee(fees) {
        bookfee = 0;
        otherfee = 0;
        for (var i = 0; i < fees.length; i++) {
            if (fees[i].usable) {
                if (fees[i].feeType == 1)//教材
                {
                    bookfee += fees[i].price * fees[i].objCount
                }
                else if (fees[i].feeType == 2)//杂费
                {
                    otherfee += fees[i].price * fees[i].objCount
                }
            }
        }
        $("#spBookFee").text("¥" + bookfee + "元");
        $("#spOtherFee").text("¥" + otherfee + "元");
        calcShouldPay();
    }
    function calcShouldPay() {
        sumfee = tuition + bookfee + otherfee;
        $("#txtResult").val(sumfee);
    }
    function initModalForm() {
        $("#txStudentName").val($("#txtName").val());
        $("#txtClassName1").val($("#selectClass").val());
        $("#txtShouldFee").val(sumfee);
        $("#txtRealFee").val($("#txtResult").val());
    }
</script>
