<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<script src="~/Scripts/bootstrapValidator.js"></script>
<link rel="stylesheet" href="/Content/upimg/amazeui.min.css">
<link rel="stylesheet" href="/Content/upimg/amazeui.cropper.css">
<link rel="stylesheet" href="/Content/upimg/custom_up_img.css">
<style type="text/css">
    .up-img-cover {
        width: 100px;
        height: 100px;
    }

        .up-img-cover img {
            position: absolute;
            width: 200px;
            height: 200px;
            left: 0;
            top: 0;
        }

    .panel .actions {
        position: absolute;
        right: 30px;
        top: 8px;
    }

        .panel .actions i {
            font-size: 0.875em;
            margin: 0 3px;
        }

            .panel .actions i:hover {
                cursor: pointer;
            }

    .card {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        max-width: 280px;
    }
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
</style>
<style>
    .form-horizontal .form-control {
        background: #f0f0f0;
        border: none;
        box-shadow: none;
        padding: 0 10px 0 30px;
    }

    input[type="text"]:focus {
        background: #ffffff;
        border: 1px solid #cccccc;
    }

    .form-horizontal .form-group i {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 17px;
        color: #c8c8c8;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i {
        color: #00b4ef;
    }
</style>
<ol class="breadcrumb">
    <li>新生报名</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">学生信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" style="border-right:1px solid #ddd;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">学生姓名</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">性别</label>
                                    <div class="col-sm-4 controls">
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios1" value="option1" checked>
                                            男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="sex" id="optionsRadios2" value="option2">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">生日</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="txtName">住址</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">所在学校</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">年级班级</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">母亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">父亲电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtName">其他电话</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                    <label class="col-sm-2 control-label" for="">备注</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" id="updateForm">
                        <div class="up-img-cover" id="up-img-touch">
                            <img class="am-circle" alt="点击图片上传" src="/Content/img/student.png" data-am-popover="{content: '点击上传', trigger: 'hover focus'}">
                        </div>
                        <div><a style="text-align: center; display: block;" id="pic"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">报名信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" style="border-right:1px solid #ddd;">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectCourseType" class="col-sm-2 control-label">课程类别</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourseType" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectCourse" class="col-sm-2 control-label">课程名称</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourse" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectClass" class="col-sm-2 control-label">选择班级</label>
                                    <div class="col-sm-4 form-inline">
                                        <select id="selectClass" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2 form-inline" style="padding-left:5px;padding-right:5px;">
                                        <label class="glyphicon glyphicon-remove"></label>
                                        <input type="text" style="width:40px;" class="form-control" id="txtClassCount" name="txtClassCount" value="" />
                                        <label class="control-label">课时</label>
                                    </div>
                                    <div class="col-sm-4 form-inline">
                                        <select style="width:80px;" id="selectDiscount" class="form-control">
                                            <option value="0">原价</option>
                                            <option value="1">打折</option>
                                            <option value="2">优惠</option>
                                        </select>
                                        <label style="margin-left:5px;margin-right:5px;" class="control-label">=应收</label>
                                        <span class="badge badge-primary">¥105元</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectClass" class="col-sm-2 control-label">教材项</label>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-mb-12 col-sm-12  form-inline">
                                                    <div class="radio">
                                                        <input class="icheck" type="checkbox" checked="" name="check1">
                                                        <label>Option 1</label>
                                                    </div>
                                                    <input type="text" style="width:60px;height:30px;" class="form-control" id="txtjcCount" name="txtjcCount" value="" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-mb-12 col-sm-12  form-inline">

                                                    <div class="radio">
                                                        <input class="icheck" type="checkbox" checked="" name="check2">
                                                        <label>Option 2</label>
                                                    </div>
                                                    <input type="text" style="width:60px;height:30px;" class="form-control" id="txtzfCount" name="txtzfCount" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="selectClass" class="col-sm-2 control-label">杂费项</label>
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-mb-12 col-sm-12  form-inline">
                                                        <div class="radio">
                                                            <input class="icheck" type="checkbox" checked="" name="check1">
                                                            <label>Option 1</label>
                                                        </div>
                                                        <input type="text" style="width:60px;height:30px;" class="form-control" id="txtjcCount" name="txtjcCount" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-mb-12 col-sm-12  form-inline">

                                                        <div class="radio">
                                                            <input class="icheck" type="checkbox" checked="" name="check2">
                                                            <label>Option 2</label>
                                                        </div>
                                                        <input type="text" style="width:60px;height:30px;" class="form-control" id="txtzfCount" name="txtzfCount" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group text-center" style="margin-top:50px;">
                            <label class="col-sm-12 control-label" for="txtResult">实收费用</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtResult" name="txtResult" value="" />
                            </div>
                        </div>
                        <div class="form-group">

                            <button type="button" style="width:150px;" class="btn btn-primary col-center-block" data-dismiss="modal">
                                去结算
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            widgetToggle();
            getCourseType("selectCourseType");
            $("#selectCourseType").change(function () {
                var selectedCoursTypeId = $(this).val();
                getCourseList("selectCourse", selectedCoursTypeId);
            });
            $("#selectCourse").change(function () {
                var selectedCourseId = $(this).val();
                getClassByCourse(selectedCourseId, "selectClass");
            });
        });
    </script>
