@model IEnumerable<Edu.Model.Core.Student>
@{
    ViewBag.Title = "报名";
}


<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<script src="~/Scripts/bootstrapValidator.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />


<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.zh-CN.js"></script>
<style type="text/css">
    .am-circle {
        border-radius: 50% !important;
        cursor: pointer;
        width: 180px;
        height: 180px;
    }

    .panel .actions {
        position: absolute;
        right: 30px;
        top: 8px;
    }

        .panel .actions i {
            font-size: 0.875em;
            margin: 0 3px;
        }

            .panel .actions i:hover {
                cursor: pointer;
            }

    .card {
        margin-right: 0;
        margin-left: 0;
        background-color: #fff;
        border: 1px solid #ddd;
        border-width: 1px;
        border-radius: 4px 4px 0 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        max-width: 280px;
        min-height: 36px;
    }

    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    input[type="text"]:focus {
        background: #ffffff;
        border: 1px solid #cccccc;
    }

    .form-horizontal .form-group i {
        position: absolute;
        top: 20px;
        left: 22px;
        font-size: 17px;
        color: #c8c8c8;
        transition: all 0.5s ease 0s;
    }

    .form-horizontal .form-control:focus + i {
        color: #00b4ef;
    }
</style>
<ol class="breadcrumb">
    <li>新生报名</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">学生信息</h3>
                <div class="actions pull-right">
                    <i id="stdReset" title="重置" class="glyphicon glyphicon-refresh" onclick="resetStudent();"></i>
                    <i id="stdQuery" title="学生查询" class="glyphicon glyphicon-search" data-toggle="modal" data-target="#stdModal" onclick="QueryStudent();"></i>
                    <i title="收起" class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal" role="form">
                        <div class="col-md-9" style="border-right:1px solid #ddd;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="txtName">学生姓名</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtName" name="txtName" value="" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="">性别</label>
                                        <div class="col-sm-4 controls">
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" id="maleOption" value="1" checked>
                                                男
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="sex" id="femaleOption" value="2">
                                                女
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="dpBirthday">生日</label>
                                        <div class="col-sm-4">
                                            <div class='input-group date' id='dpBirthday'>
                                                <input id="txtBirthday" type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <label class="col-sm-2 control-label" for="txtAddress">住址</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtAddress" name="txtAddress" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="txtFullTimeSchool">所在学校</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtFullTimeSchool" name="txtFullTimeSchool" value="" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="txGrade">年级班级</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txGrade" name="txGrade" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="txtTel1">母亲电话</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtTel1" name="txtTel1" value="" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="txtTel2">父亲电话</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtTel2" name="txtTel2" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="txtTel3">其他电话</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtTel3" name="txtTel3" value="" />
                                        </div>
                                        <label class="col-sm-2 control-label" for="txtStudentRemark">备注</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="txtStudentRemark" name="txtStudentRemark" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" id="updateForm" style="text-align: center; ">
                            <div class="row">
                                <div class="form-group">
                                    <form class="up-img-cover" enctype="multipart/form-data" id="form1">
                                        <input id="lefile" name="filename" type="file" style="display:none" onchange="sc();">
                                        <img id="headimg" class="am-circle" onclick="$('input[id=lefile]').click();" alt="点击图片上传" src="/Content/img/student.png" data-am-popover="{content: '点击上传', trigger: 'hover focus'}">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">报名信息</h3>
                <div class="actions pull-right">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9" style="border-right:1px solid #ddd;">
                        <div class="row">
                            <div class="col-mb-12">
                                <div class="form-group">
                                    <label for="selectCourseType" class="col-sm-2 control-label">课程类别</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourseType" class="form-control"></select>
                                    </div>
                                    <label for="selectCourse" class="col-sm-2 control-label">课程名称</label>
                                    <div class="col-sm-4">
                                        <select id="selectCourse" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12">
                                <div class="form-group">
                                    <label for="selectClass" class="col-sm-2 control-label">选择班级</label>
                                    <div class="col-sm-4">
                                        <select id="selectClass" class="form-control"></select>
                                    </div>
                                    <div class="col-sm-2 form-inline" style="padding-left:5px;padding-right:5px;">
                                        <label class="glyphicon glyphicon-remove"></label>
                                        <input type="number" maxlength='3' style="width:60px;" class="form-control" id="txtClassCount" name="txtClassCount" value="10" onchange="calcTuition();" />
                                        <label class="control-label">课时</label>
                                    </div>
                                    <div class="col-sm-4 form-inline">
                                        <select style="width:80px;" id="selectDiscount" class="form-control" onchange="changeDiscount();">
                                            <option value="0">原价</option>
                                            <option value="1">打折</option>
                                            <option value="2">优惠</option>
                                        </select>
                                        <input type="text" style="width:60px;" class="form-control hidden" id="txtDiscount" value="0" onchange="calcTuition();" />
                                        <select style="width:80px;" id="selectDiscountValue" class="form-control hidden" onchange="calcTuition();">
                                            <option value="1"></option>
                                            <option value="0.99">99</option>
                                            <option value="0.98">98</option>
                                            <option value="0.96">96</option>
                                            <option value="0.95">95</option>
                                            <option value="0.90">90</option>
                                            <option value="0.85">85</option>
                                            <option value="0.80">80</option>
                                            <option value="0.75">75</option>
                                            <option value="0.70">70</option>
                                            <option value="0.60">60</option>
                                            <option value="0.50">50</option>
                                        </select>
                                        <label id="lblDiscountType" style="margin-left:5px;margin-right:5px;" class="control-label hidden">元</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">教材项</label>
                                    <div class="col-sm-4">
                                        <div id="bookcard" class="card">

                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">杂费项</label>
                                    <div class="col-sm-4">
                                        <div id="othercard" class="card">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12">
                                <div class="form-group">
                                    <div class="col-sm-2 form-inline">
                                        <input class='icheck' type='checkbox' name='check1' />
                                        <label class="control-label" for="txtRemark">截止时间</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class='input-group date' id='datepicker1'>
                                            <input id="txtDatepicker1" type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label" for="txtRemark">注：截止日期后，剩余课时将无法使用</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="txtRemark">备注</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" style="max-width:none" id="txtRemark" name="txtRemark" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="text-align:center">
                                    <label class="control-label" for="spTuition">学  费：</label>
                                    <span id="spTuition" style="font-size:small" class="">¥ 0元</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="text-align:center">
                                    <label class="control-label" for="spBookFee">教材费：</label>
                                    <span id="spBookFee" style="font-size:small">¥ 0元</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" style="text-align:center">
                                    <label class="control-label" for="spOtherFee">杂  费：</label>
                                    <span id="spOtherFee" style="font-size:small">¥ 0元</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="txtResult">实收</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="txtResult" name="txtResult" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" style="width:150px; margin-top:10px;" class="btn btn-primary col-center-block" data-toggle="modal" data-target="#ObjModal" onclick="initModalForm();">
                                        去结算
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）确认报名 -->
    <div class="modal fade" id="ObjModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="updateModalLabel">报名确认</h5>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" id="addClassForm" role="form">
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txStudentName" class="col-sm-3 control-label">学生姓名</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txStudentName" name="txStudentName" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtClassName1" class="col-sm-3 control-label">报名班级</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtClassName1" name="txtClassName1" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtShouldFee" class="col-sm-3 control-label">应收费用</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtShouldFee" name="txtShouldFee" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtRealFee" class="col-sm-3 control-label">实收费用</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtRealFee" name="txtRealFee" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectCampus" class="col-sm-3 control-label">经办校区</label>
                                    <div class="col-sm-9">
                                        <select id="selectCampus" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="txtOptor" class="col-sm-3 control-label">经办人</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="txtOptor" name="txtOptor">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-mb-12 col-sm-12">
                                <div class="form-group">
                                    <label for="selectPayType" class="col-sm-3 control-label">支付方式</label>
                                    <div class="col-sm-9">
                                        <select id="selectPayType" class="form-control">
                                            <option value="现金">现金</option>
                                            <option value="刷卡">刷卡</option>
                                            <option value="微信">微信</option>
                                            <option value="支付宝">支付宝</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" id="btnAddEntry">
                        确定
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 模态框（Modal）学生查询 -->
    <div class="modal fade" id="stdModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title">学生查询</h5>
                </div>
                <div class="modal-body">
                    <div class="row well well-sm" style="margin:10px 0px;">
                        <div class="col-md-6">
                            <div class="form-group  form-inline">
                                <input type="text" style="max-width:150px;margin-right:10px;" class="form-control" id="txtQyName" name="txtQyName" placeholder="请输入学生姓名">

                                <input type="text" style="max-width:150px;margin-right:10px;" class="form-control" id="txtQyTel" name="txtQyTel" placeholder="请输入电话尾号">

                                <button class="btn btn-primary" style="" data-toggle="modal" onclick="QueryStudent();"><span class="glyphicon glyphicon-search">  </span> 查询</button>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="pagination" style="margin:0px;float:right;" id="ulPaging"></ul>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="tbStudent">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>年龄</th>
                                    <th>所在学校</th>
                                    <th>年级班级</th>
                                    <th>家庭住址</th>
                                    <th>母亲电话</th>
                                    <th>父亲电话</th>
                                    <th>其他电话</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-primary" onclick="getStudentId();">
                            确定
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<link href="~/Content/bootstrapValidator.css" rel="stylesheet" />
<script src="~/Scripts/bootstrapValidator.js"></script>
<script src="~/Scripts/bootstrap-paginator.js"></script>
<script src="~/Scripts/upimg/cropper.min.js" charset="utf-8"></script>
<script src="~/Scripts/upimg/custom_up_img.js" charset="utf-8"></script>
<script src="~/Scripts/main.js"></script>
<script>
    var pageInfo = {
        pageIndex: parseInt('@ViewData["PageIndex"]'),
        pageCount: parseInt('@ViewData["PageCount"]'),
        pageSize: parseInt('@ViewData["PageSize"]')
    };
    $(document).ready(function () {
        //widgetToggle();
        getCampus("selectCampus")
        getCourseType("selectCourseType");
        $("#selectCourseType").change(function () {
            $("#selectClass").empty();
            var selectedCoursTypeId = $(this).val();
            getCourseList("selectCourse", selectedCoursTypeId);
        });
        $('#datepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        $('#dpBirthday').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn')
        });
        // lefile.onchange


    });
    $("#ss").change(function () {
        // getObjectURL是自定义的函数，见下面
        // this.files[0]代表的是选择的文件资源的第一个，因为上面写了 multiple="multiple" 就表示上传文件可能不止一个
        // ，但是这里只读取第一个
        var objUrl = getObjectURL(this.files[0]);
        // 这句代码没什么作用，删掉也可以
        // console.log("objUrl = "+objUrl) ;
        if (objUrl) {
            // 在这里修改图片的地址属性
            $("#headimg").attr("src", objUrl);
        }
    });
    var tuition = 0;
    var bookfee = 0;
    var otherfee = 0;
    var sumfee = 0;
    var classcount = 0;
    var discountvalue = 0;
    var result = [];
    var picurl = "";
    var stdId = 0;
    $("#selectCourse").change(function () {
        var selectedCourseId = $(this).val();
        getClassByCourse(selectedCourseId, "selectClass");
        //var bookfee = getBookFeeByCourse(selectedCourseId);
        var bookcard = document.getElementById("bookcard");
        var othercard = document.getElementById("othercard");
        bookcard.innerHTML = "";
        othercard.innerHTML = "";
        result = [];
        var model = { 'courseId': selectedCourseId };
        $.ajax({
            url: "../Bookfee/getBookFeeByCourse",
            type: "post",
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                result = JSON.parse(data);
                var content1 = "";
                var content2 = "";
                for (var i = 0; i < result.length; i++) {
                    result[i].objCount = 1;
                    result[i].usable = true;
                    if (result[i].feeType == 1)//教材
                    {
                        content1 += "<div class='row'>";
                        content1 += "<div class='form-group'>";
                        content1 += " <div class='col-mb-12 col-sm-12  form-inline'>";
                        content1 += "<div class='radio'>";
                        content1 += "<input class='icheck' type='checkbox' onchange='radioChange(this," + i + ")' checked='' name='check1'>";
                        content1 += "<label>" + result[i].feeName + "</label>";
                        content1 += "</div>";
                        content1 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtjcCount' name='txtjcCount' onchange='changePrice(this," + i + ")' value='" + result[i].price + "' />";
                        content1 += "<label class='glyphicon glyphicon-remove'></label>";
                        content1 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtzfCount' name='txtzfCount' onchange='changeCount(this," + i + ")' value='1' />";
                        content1 += "</div></div></div>";
                    }
                    else if (result[i].feeType == 2)//杂费
                    {
                        content2 += "<div class='row'>";
                        content2 += "<div class='form-group'>";
                        content2 += " <div class='col-mb-12 col-sm-12  form-inline'>";
                        content2 += "<div class='radio'>";
                        content2 += "<input class='icheck' type='checkbox' onchange='radioChange(this," + i + ")' checked=''  name='check1'>";
                        content2 += "<label>" + result[i].feeName + "</label>";
                        content2 += "</div>";
                        content2 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtjcCount' name='txtjcCount' onchange='changePrice(this," + i + ")' value='" + result[i].price + "' />";
                        content2 += "<label class='glyphicon glyphicon-remove'></label>";
                        content2 += "<input type='text' style='width:50px;height:30px;' class='form-control' id='txtzfCount' name='txtzfCount'  onchange='changeCount(this," + i + ")'  value='1' />";
                        content2 += "</div></div></div>";
                    }
                }
                bookcard.innerHTML = content1;
                othercard.innerHTML = content2;
                calcBookFee(result);
            }
        });
    });
    $("#selectClass").change(function () {
        calcTuition();

    });
    $("#btnAddEntry").click(function () {
        var regionId = $("#selectCampus").val();
        var sname = $("#txtName").val();
        var sex = $("input[name='sex']:checked").val();
        var birthday = $("#dpBirthday").data().date;

        var fulltimeschool = $("#txtFullTimeSchool").val();
        var grade = $("#txGrade").val();
        var address = $("#txtAddress").val();
        var tel1 = $("#txtTel1").val();
        var tel2 = $("#txtTel2").val();
        var tel3 = $("#txtTel3").val();
        var remark = $("#txtStudentRemark").val();

        var model = {
            'RegionId': regionId, 'Name': sname, 'Sex': sex, 'Birthday': birthday, 'FullTimeSchool': fulltimeschool, 'Grade': grade,
            'Tel1': tel1, 'Tel2': tel2, 'Tel3': tel3, 'Address': address, 'Remark': remark, 'Picture': picurl
        };
        if (stdId == 0) {
            $.ajax({
                url: "../Student/AddStudent",
                type: "post",
                data: JSON.stringify(model),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var addStuResult = JSON.parse(data);
                    addEntry(addStuResult.data);
                }
            });
        }
        else {
            addEntry(stdId);
        }
    });
    //报名
    function addEntry(stuid) {
        var regionId = $("#selectCampus").val();
        var courseId = $("#selectCourse").val();
        var classId = $("#selectClass").val();
        var classFullName = $("#selectClass").text();
        var endDate = $("#datepicker1").data().date;
        var classCount = $("#txtClassCount").val();
        var realPay = $("#txtResult").val();//实际支付
        var status = "";
        var remain = realPay - sumfee;
        if (sumfee == realPay) {
            status = 0
        }
        else if (sumfee > realPay) {
            status = 1
        }
        else {
            status = 9
        }
        var entryModel = {
            'RegionId': regionId, 'StudentId': stuid, 'CourseId': courseId, 'ClassId': classId, 'FullName': classFullName, 'StartDate': "",
            'EndDate': endDate, 'CourseHour': classCount, 'Status': status, 'Remain': remain
        };
        $.ajax({
            url: "../Entry/AddEntry",
            type: "post",
            data: JSON.stringify(entryModel),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var AddEntryResult = JSON.parse(data);
                var opttype = $("#selectPayType").val();
                var optor = $("#txtOptor").val();
                var entryremark = $("#txtRemark").val();
                var disTp = $(selectDiscount).val();
                var accountModel = {
                    'RegionId': regionId, 'EntryId': AddEntryResult.data, 'ShouldExpenses': sumfee, 'BookExpenses': bookfee, 'OtherExpenses': otherfee, 'RealExpenses': realPay,
                    'OptType': 0, 'PayType': opttype, 'Optor': optor, 'Remark': entryremark, 'DiscountType': disTp, 'DiscountExpenses': discountvalue
                };
                $.ajax({
                    url: "../Entry/AddAccount",
                    type: "post",
                    data: JSON.stringify(accountModel),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var AddAccountResult = JSON.parse(data);
                        if (AddAccountResult.code === 200) {
                            window.location.href = "/Student/List";
                        }
                    }
                });
            }
        });
    }
    function StdQuery(stdName, phoneNo, pageIndex) {
        var table = document.getElementById("tbStudent");
        var oBody = table.tBodies[0];
        oBody.innerHTML = "";
        var rowIndex = oBody.rows.length;
        var model = { 'stuName': stdName, 'stdPhone': phoneNo, 'pageIndex': pageIndex };
        $.ajax({
            url: "QueryStudent",
            type: "post",
            data: JSON.stringify(model),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "") {
                    var dataList = JSON.parse(data).items;
                    tbody = "<thead><tr><th></th><th>姓名</th><th>性别</th><th>年龄</th><th>所在学校</th><th>年级班级</th><th>家庭住址</th><th>母亲电话</th><th>父亲电话</th><th>其他电话</th></tr></thead><tbody>";

                    $.each(dataList, function (i) {
                        var trs = "";
                        var a = dataList[i].name == undefined ? "" : dataList[i].name;
                        var b = dataList[i].sex == "1" ? "男" : "女";
                        var c = dataList[i].birthday == undefined ? "" : dataList[i].birthday.substr(0, 10);
                        var d = dataList[i].fullTimeSchool == undefined ? "" : dataList[i].fullTimeSchool;
                        var e = dataList[i].grade == undefined ? "" : dataList[i].grade;
                        var f = dataList[i].address == undefined ? "" : dataList[i].address;
                        var g = dataList[i].tel1 == undefined ? "" : dataList[i].tel1;
                        var h = dataList[i].tel2 == undefined ? "" : dataList[i].tel2;
                        var p = dataList[i].tel3 == undefined ? "" : dataList[i].tel3;
                        trs += "<tr value='" + dataList[i].picture + "'><td align='center'><input id='radioId' type='radio' name='radioChoose' value='" + dataList[i].id + "'/></td><td align='center'>"
                            + a + "</td><td value='" + dataList[i].sex+"'>" + b + "</td><td>" + c + "</td><td>" + d + "</td><td>" + e + "</td><td>" + f + "</td><td>" + g + "</td><td>" + h + "</td><td>" + p + "</td></tr>";
                        tbody += trs;
                    });
                    tbody += "</tbody>";
                    $("#tbStudent").html(tbody);
                    $('#ulPaging').bootstrapPaginator({
                        currentPage: pageIndex, //当前的请求页面。
                        totalPages: pageInfo.pageCount, //pageInfo.pageCount, //一共多少页。
                        size: "normal", //应该是页眉的大小。
                        bootstrapMajorVersion: 3, //bootstrap的版本要求。
                        alignment: "right",
                        numberOfPages: pageInfo.pageSize, //一页列出多少数据。
                        itemTexts: function (type, page, current) { //如下的代码是将页眉显示的中文显示我们自定义的中文。
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                        },
                        onPageClicked: function (event, originalEvent, type, page) {
                            if (page != pageIndex) {
                                //window.location.href = "Renew?pageIndex=" + page;
                                StdQuery("", "", page);
                            }

                        }
                    });
                }
            }
        })
    }
    function getStudentId() {
        var checkedRedio = $("#tbStudent input[type='radio']:checked");
        stdId = checkedRedio.val();
        var tr = checkedRedio.closest('tr');
        var tds = tr.find('td');
        $("#txtName").val(tds.eq(1).text());
        $("input[name='sex'][value='" + tds.eq(2)[0].attributes.value.value + "']").prop("checked", "checked");
        $("#txtBirthday").val(tds.eq(3).text());
        $("#txtFullTimeSchool").val(tds.eq(4).text());
        $("#txGrade").val(tds.eq(5).text());
        $("#txtAddress").val(tds.eq(6).text());
        $("#txtTel1").val(tds.eq(7).text());
        $("#txtTel2").val(tds.eq(8).text());
        $("#txtTel3").val(tds.eq(9).text());
        if (tr[0].attributes.value.value != "undefined") {
            $("#headimg").attr("src", tr[0].attributes.value.value);
        }
        $('#stdModal').modal('hide');
    }
    function calcTuition() {
        var clsPrice = $("#selectClass").find("option:selected").attr("price");
        var claCount = $("#txtClassCount").val();
        var desc = $("#selectDiscount").val();
        if (desc == "0") {
            tuition = clsPrice * claCount;
        }
        else if (desc == "1") {
            var discount = $("#selectDiscountValue").val();
            tuition = clsPrice * claCount * discount;
        }
        else if (desc == "2") {
            var discount = $("#txtDiscount").val();
            tuition = clsPrice * claCount - discount;
        }
        $("#spTuition").text("¥" + tuition + "元");
        calcShouldPay();
    }
    function radioChange(obj, rusultIndex) {
        result[rusultIndex].usable = obj.checked;
        calcBookFee(result);
    }
    function changePrice(obj, rusultIndex) {
        result[rusultIndex].price = $(obj).val();
        calcBookFee(result);
    }
    function changeCount(obj, rusultIndex) {
        result[rusultIndex].objCount = $(obj).val();
        calcBookFee(result);
    }
    function calcBookFee(fees) {
        bookfee = 0;
        otherfee = 0;
        for (var i = 0; i < fees.length; i++) {
            if (fees[i].usable) {
                if (fees[i].feeType == 1)//教材
                {
                    bookfee += fees[i].price * fees[i].objCount
                }
                else if (fees[i].feeType == 2)//杂费
                {
                    otherfee += fees[i].price * fees[i].objCount
                }
            }
        }
        $("#spBookFee").text("¥" + bookfee + "元");
        $("#spOtherFee").text("¥" + otherfee + "元");
        calcShouldPay();
    }
    function calcShouldPay() {
        sumfee = tuition + bookfee + otherfee;
        $("#txtResult").val(sumfee);
    }
    function initModalForm() {
        $("#txStudentName").val($("#txtName").val());
        $("#txtClassName1").val($("#selectClass").val());
        $("#txtShouldFee").val(sumfee);
        $("#txtRealFee").val($("#txtResult").val());
    }
    function resetStudent() {
        $("#txtName").val("");
        $("#maleOption").attr("checked", "checked");
        $("#txtBirthday").val("");
        $("#txtFullTimeSchool").val("");
        $("#txGrade").val("");
        $("#txtAddress").val("");
        $("#txtTel1").val("");
        $("#txtTel2").val("");
        $("#txtTel3").val("");
        stdId = 0;
    }
    function QueryStudent() {
        StdQuery($("#txtQyName").val(), $("#txtQyTel").val(), 1);
    }

    function sc() {
        var animateimg = $("#lefile").val(); //获取上传的图片名 带//
        var imgarr = animateimg.split('\\'); //分割
        var myimg = imgarr[imgarr.length - 1]; //去掉 // 获取图片名
        var houzui = myimg.lastIndexOf('.'); //获取 . 出现的位置
        var ext = myimg.substring(houzui, myimg.length).toUpperCase();  //切割 . 获取文件后缀

        var file = $('#lefile').get(0).files[0]; //获取上传的文件
        //var file = $("#lefile")[0].files[0];
        var fileSize = file.size;           //获取上传的文件大小
        var maxSize = 1048576;              //最大1MB
        if (ext != '.PNG' && ext != '.GIF' && ext != '.JPG' && ext != '.JPEG' && ext != '.BMP') {
            alert('文件类型错误,请上传图片类型');
            return false;
        } else if (parseInt(fileSize) >= parseInt(maxSize)) {
            alert('上传的文件不能超过1MB');
            return false;
        } else {
            var fdData = new FormData();
            fdData.append("filename", file);
            $.ajax({
                url: 'uppic',
                type: 'POST',
                data: fdData,
                async: true,
                // 下面三个参数要指定，如果不指定，会报一个JQuery的错误
                cache: false,
                contentType: false,
                processData: false,
                success: function (msg) {
                    picurl = msg;
                    $("#headimg").attr("src", msg);
                },
                error: function (msg) {
                    alert(msg);
                }
            });
            return false;
        }
    }
</script>
