@model Edu.Model.Core.User
@{
    ViewBag.Title = "Update";
}


<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-control" role="form" id="updateForm" method="post">
                <div class="form-group">
                    <label class="sr-only" for="txtName">姓名</label>
                    <input type="text" class="form-control" id="txtName" value="@Model.Name" pattern="^([\u4e00-\u9fa5]|[0-9]|[,]|[，]){0,100}$" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="txtEmail">邮箱</label>
                    <input type="email" class="form-control" id="txtEmail" value="@Model.Email"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="txtPhone">手机号</label>
                    <input type="tel" class="form-control" id="txtPhone" value="@Model.Phone" pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}"/>
                </div>
            </form>
        </div>
    </div>
</div>
